.App {
	text-align: center;
}
.userList {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.user {
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 4px;
	max-width: 300px;
	width: 100%;
}
